language: python
python:
    - "2.7"

sudo: false
cache:
    directories:
        - "~/.platformio"

env:
     - PLATFORMIO_CI_SRC=src/main.cpp

install:
    - pip install -U platformio
    - platformio lib -g install 560
    - wget https://github.com/jipp/eBot/archive/master.zip -O /tmp/eBot.zip
    - unzip /tmp/eBot.zip -d /tmp/

script:
    - platformio ci --lib="/tmp/eBot-master" --board=uno
